<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr
      <tr> <td>11:00</td>  <td>Welcome/Summary and Setup</td> </tr>
      <tr> <td>11:30</td>  <td>Introduction to the LaTeX Workflow</td> </tr
      <tr> <td>12:00</td>  <td>File Structure</td> </tr>
      <tr> <td>12:30</td>  <td>Error Handling</td> </tr>
      <tr> <td>12:30</td>  <td>-- Lunch Break --</td> </tr>
      <tr> <td>13:30</td>  <td>The Structure of a Document</td></tr>
      <tr> <td>14:00</td>  <td>Using Document Classes</td></tr>
      <tr> <td>14:30</td>  <td>Extending LaTeX</td></tr>
      <tr> <td>15:00/td>  <td>-- Break --</td></tr>
      <tr> <td>15:15</td>  <td>Using Graphics</td></tr>
      <tr> <td>15:45</td>  <td>Tables</td></tr>
      <tr> <td>16:15</td>  <td>Adding Cross References</td></tr>
      <tr> <td>16:45</td>  <td>Mathematics</td></tr>
      <tr> <td>17:15</td>  <td>END of first day</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Wrap-up first day</td> </tr>
      <tr> <td>09:30</td>  <td>Fonts, Formatting, Spaces</td> </tr>
      <tr> <td>10:00</td>  <td>Citations and References | Context Sensitive Quotations</td> </tr>
      <tr> <td>10:30</td>  <td>Structuring Sources | Loading and Manipulating Data</td> </tr>
      <tr> <td>11:00</td>  <td>Documentation and Finding Help</td> </tr>
      <tr> <td>11:30</td>  <td>Workshop Wrap-Up</td> </tr>
      <tr> <td>12:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:15</td>  <td>END of second day</td> </tr>
      <tr> <td>12:15</td>  <td>Optional: DKZ.2R Data Café with Guided Assistance / Hands-On Practice</td> </tr
    </table>
  </div>
</div>
